<div id="<%= dom_id booking %>">
  <div>
    <strong>Starts at:</strong>
    <%= booking.starts_at %>
  </div>

  <div>
    <strong>Ends at:</strong>
    <%= booking.ends_at %>
  </div>

  <div>
    <strong>Note:</strong>
    <%= booking.note %>
  </div>

  <div>
    <strong>Room:</strong>
    <%= booking.room_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= booking.user_id %>
  </div>

</div>
